<h4>Logged out</h4>
<%= link_to 'start', :controller => "fb_oauth", :action => "start" %><br />
<%= link_to 'info',  :controller => "fb_oauth", :action => "info" %><br />
<%= link_to 'logout',:controller => "fb_oauth", :action => "logout" %>